.photo-grid {
    padding: 0;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 16px;
    justify-content: center;
}

@media screen and (max-width: 1190px) {
    .photo-grid {
        max-width: 928px;
        gap: 14px;
    }
}

@media screen and (max-width: 947px) {
    .photo-grid {
        max-width: 720px;
        gap: 16px;
    }
}

@media screen and (max-width: 622px) {
    .photo-grid {
        max-width: 450px;
        gap: 12px;
    }
}