.main__intro {
    margin: 93px 442px 0 148px;
}

@media screen and (max-width: 1026px) {
    .main__intro {
        margin: 93px 286px 0 48px;
    }
}

@media screen and (max-width: 770px) {
    .main__intro {
        margin: 89px auto 0;
    }
}

@media screen and (max-width: 425px) {
    .main__intro {
        margin: 64px auto 0;
    }
}