.places_position {
    margin: 91px 156px 93px 140px;
}

@media screen and (max-width: 1279px) {
    .places_position {
        margin: 92px auto 112px;
    }
}

@media screen and (max-width: 1022px) {
    .places_position {
        margin: 88px auto 90px;
    }
}

@media screen and (max-width: 424px) {
    .places_position {
        margin: 64px auto 64px;
    }
}