.photo-grid_position {
    margin: 92px auto 0;
}

@media screen and (max-width: 770px) {
    .photo-grid_position {
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 622px) {
    .photo-grid_position {
        margin: 63px auto 0;
    }
}